# ignore all .iml file
*.iml
*/*.iml

# ignore .idea/ directory
.idea/

# ignore target directory
*/target/
*/*/target/

# ignore .project/ ./settings ./classpath directory
.project
*/.project
*/*/.project
./classpath
*/.classpath
*/*/.classpath
.settings/
*/.settings/
*/*/.settings/
