<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

  <aop:aspectj-autoproxy/>

  <bean class="com.art2cat.dev.concert.xmlconfig.AudienceXML" id="audienceXML"/>

  <aop:config>

    <aop:pointcut expression="execution(* com.art2cat.dev.concert.IPerformance.perform(..))"
      id="performance"/>

    <aop:aspect ref="audienceXML">
      <aop:before
        method="silenceCellPhones"
        pointcut-ref="performance"/>

      <aop:before
        method="takeSeats"
        pointcut-ref="performance"/>

      <aop:after-returning
        method="applause"
        pointcut-ref="performance"/>

      <aop:after-throwing
        method="demandRefund"
        pointcut-ref="performance"/>
    </aop:aspect>
  </aop:config>

  <bean class="com.art2cat.dev.concert.xmlconfig.AroundAudienceXML" id="aroundAudienceXML"/>

  <aop:config>
    <aop:aspect ref="aroundAudienceXML">

      <aop:pointcut expression="execution(* com.art2cat.dev.concert.IPerformance.perform(..))"
        id="performance"/>

      <aop:around
        method="watchPerformance"
        pointcut-ref="performance"/>
    </aop:aspect>
  </aop:config>

  <bean class="com.art2cat.dev.concert.xmlconfig.ActorXML" id="performanceXML"/>


</beans>

