<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
  <meta charset="UTF-8">
  <title>User List</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        rel="stylesheet"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet"/>
  <script rel="script" th:href="@{/index.js}"></script>
</head>
<body>
<h2>User List</h2>
<div th:unless="${#lists.isEmpty(users)}">
  <table id="info-table" align="center" border="1">
    <tr>
      <th>id</th>
      <th>name</th>
      <th>email</th>
    </tr>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.name}"></td>
      <td th:text="${user.email}"></td>
      <td>
        <form  th:action="@{/user/{id}(id=${user.id})}" th:object="${user}" method="post">
          <!--<input type="hidden" th:field="${user}">Delete-->
          <button type="submit" onClick="return confirm('sure?')"></button>
        </form>
      </td>
    </tr>
  </table>
</div>
<div th:if="${#lists.isEmpty(users)}">
  <p>There is no user in the user list</p>
</div>
<hr/>

<a href="/user/add" class="btn btn-success"> <i
    class="fa fa-arrow-circle-o-left"></i>&nbsp;Add User</a>

</body>
</html>